<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      QR scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  
  <ion-card color="secondary" style=" margin-top: 25%;">

  <ion-card style="margin-top: 2vh;">
    <div *ngIf="passedId" style="text-align: center;">
      <qrcode [qrdata]="passedId" [level]="'L'" scale="8"  ></qrcode>
    </div>
  </ion-card>
  <h1 style="font-weight: bold; text-align: center;">
    <ion-icon name="phone-portrait-outline"></ion-icon>
    Scan me</h1>

  </ion-card>

</ion-content>
